@use "../global/" as *;

.t-breadcrumb {
  background: #f0f0f0;
  padding: 16px 0;
 @include font(14,18,0,400);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap:8px 6px;

  span{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
  }
}
