@use "../global/" as *;

.u-under-line{
    text-decoration-color: $c-accent; //カラー
    text-decoration-line: underline;
    text-decoration-thickness: 8px; //太さ
    text-underline-offset: -4px; //位置調整
    text-decoration-skip-ink: none;
}