// ----------------------------------------------------------------------------------------------
// テキスト情報
// ----------------------------------------------------------------------------------------------
@mixin font($size: null, $height: null, $spacing: null, $weight: null) {
  @if $size {
    font-size: calc($size / 10 * 1rem);
  }
  @if $height {
    line-height: calc($height / $size);
  }
  @if $spacing {
    letter-spacing: calc($spacing / 1000 * 1em);
  }
  @if $weight {
    font-weight: $weight;
  }
}

// ----------------------------------------------------------------------------------------------
// ブレイクポイント
// ----------------------------------------------------------------------------------------------
@mixin sp-max {
  @media screen and (max-width: 389px) {
    @content;
  }
}

@mixin tb {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1080px) {
    @content;
  }
}


// ----------------------------------------------------------------------------------------------
// lineheight分の上下余白削除
// ----------------------------------------------------------------------------------------------
@mixin lineHeight($line-height) {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  &::before {
    margin-top: calc((1 - #{$line-height}) * 0.5em); //文字上の余白を消す
  }
  &::after {
    margin-bottom: calc((1 - #{$line-height}) * 0.5em); //文字下の余白を消す
  }
}
