// フォント--------------------------------------------------------------------------------------------
$f-jp: "Noto Sans JP", sans-serif;
$f-en: "Noto Sans JP", sans-serif;
$f-num: "Noto Sans JP", sans-serif;

// カラー---------------------------------------------------------------------------------------------
$c-white: #ffffff;
$c-black: #000000;
$c-text: #222222;
$c-bg: #f5f5f5;
$c-main: #012345;
$c-accent: #678901;

// z-index--------------------------------------------------------------------------------------------
$z-10: -10;
$z-1: -1;
$z1: 1;
$z10: 10;
$z100: 100;
$z1000: 1000;
$z10000: 10000;

// width----------------------------------------------------------------------------------------------
$s-max:340px;
$sp-max:385px;
$m:600px;
$tb:768px;
$l:900px;
$inner: 1000px;
$pc:1080px;
$l:1200px;
$max-pc:1366px;

