@use "../global/" as *;

.c-cta-btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 220px;
  padding: 18px 0;
  background: $c-main;
  color: $c-white;
  @include s-max {
    width:90%;
  }
}

// 削除する
.p-top-sec__btn {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
